/* css reset + background */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

html {
  background: linear-gradient(180deg, #c9f6ff 0%, #d1d1d1 100%);
  background-attachment: fixed;
}

body {
  min-height: 100vh;
  background: transparent;
}

/* Hero Section Styles */
.word-gap {
  display: inline-block;
  width: 5rem;
}

#hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 2rem;
  font-family: var(--Headingfontfamily);
  font-size: var(--Heading__FontsizeXL);
  color: var(--Headingcolorprimary);
  z-index: auto;
}

#hero h1 {
  line-height: 0.95;
}

#java-script {
  margin-left: -46rem;
  margin-top: 11rem;
}

#on-the-job {
  position: relative;
  margin-top: -2.5rem;
  z-index: 3;
  color: var(--Headingcoloraccent);
}


/* Building SVG Styles */
#building {
  position: relative;
  z-index: auto;
}

#building-surface,
#windows-surface,
#building-details,
#building-door {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#building-surface{
  fill: var(--Buildingsurfaceprimary);
  z-index: 3;
}

#window-cutout{
  fill: none;
}

#windows-surface{
  fill: var(--Windowprimary);
  z-index: 1;
}

#building-details{
  fill: var(--Buildingaccentsecondary);
  z-index: 3;
}

#building-door{
  fill: var(--Buildingaccentprimary);
  z-index: 4;
}

#building-top{
  z-index: 1;
}

.gray-building-top{
  fill: var(--Buildingaccentprimary);
}

#white-building-top{
  fill: var(--Buildingsurfaceprimary);
}

/* Repeated Elements Styles */
.lamp-blue{
  fill: var(--Objectaccentprimary);
}

.lamp-white{
  fill: var(--Objectaccenttertiary);
}

/* Boss SVG Section Styles */
#the-boss {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#boss,
#boss-computer,
#boss-lamp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#boss {
  z-index: 2;
}

#boss-computer{
  z-index: 2;
  fill: var(--Objectsurfacetertiary);
}

#boss-lamp {
  z-index: 2;
}

.eye{
  fill: var(--Clothingaccentprimary);
}

.collar{
  fill: var(--Clothingsurfaceprimary)
}

.arm{
  fill: var(--Clothingaccentsecondary);
}

.cuff{
  fill: var(--Clothingsurfaceprimary)
}

.hair{
  fill: var(--Clothingaccentprimary);
}

.skin{ 
  fill: var(--Skincolorprimary);
}

.desk{
  fill: var(--Objectsurfaceprimary);
}

.desk-top{
  fill: var(--Objectsurfacesecondary);
}

.shirt{
  fill: var(--Clothingaccentprimary);
}

.chair{
  fill: var(--Objectsurfacetertiary);
}


/* Employee SVG Section Styles */
.employee-lamp, 
#employee{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

#chair-pole{
  fill: var(--Objectsurfaceprimary);
}

#chair-mount{
  fill: var(--Objectsurfacesecondary);
}

#shoe-front{
  fill: var(--Clothingaccentprimary);
}

#chair-connector{
  fill: var(--Objectsurfaceprimary);
}

#sock{
  fill: var(--Clothingaccenttertiary);
}

#chair-seat{
  fill: var(--Objectsurfacetertiary);
}

#chair-back{
  fill: var(--Objectsurfacetertiary);
}

#leg-back{
  fill: var(--Clothingaccentprimary);
}

#leg-front{
  fill: var(--Clothingaccentsecondary);
}

#hand-back{
  fill: var(--Skincolorprimary);
}

#hand-front{
  fill: var(--Skincolorprimary);
}

#arm-back{
  fill: var(--Clothingsurfacesecondary);
}

#arm-front{
  fill: var(--Clothingsurfacesecondary);
}

#employee-shirt{
  fill: var(--Clothingsurfaceprimary);
}

#employee-collar{
  fill: var(--Clothingsurfacesecondary);
}

#employee-head{
  fill: var(--Skincolorprimary);
}

#employee-nose{
  fill: var(--Skincolorprimary);
}

#employee-eye{
  fill: var(--Clothingaccentprimary);
}

#employee-hair{
  fill: var(--Clothingaccentprimary);
}
