:root {
  --Blues__Blue90: #081c3e;
  --Neutrals__White70: #eff0f5;
  --Neutrals__White90: #ffffff;
  --Blues__Blue60: #0b2a56;
  --Blues__Blue10: #a5bdd5;
  --Blues__Blue35: #6283af;
  --Blues__Blue30: #7a99b4;
  --Blues__Blue50: #405b76;
  --Blues__Blue55: #3f556d;
  --Blues__Blue45: #657f96;
  --Blues__Blue5: #d9e4ea;
  --Blues__Blue40: #5e7c98;
  --Neutrals__Tan75: #d4b5a3;

  --Buildingsurfaceprimary: var(--Neutrals__White70);
  --Buildingsurfacesecondary: var(--Blues__Blue30);
  --Windowprimary: var(--Blues__Blue5);
  --Objectsurfaceprimary: var(--Blues__Blue45);
  --Objectsurfacesecondary: var(--Blues__Blue55);
  --Objectaccentprimary: var(--Blues__Blue40);
  --Objectaccentsecondary: var(--Blues__Blue10);
  --Objectaccenttertiary: var(--Neutrals__White90);
  --Clothingaccentprimary: var(--Blues__Blue90);
  --Clothingaccentsecondary: var(--Blues__Blue60);
  --Clothingaccenttertiary: var(--Blues__Blue10);
  --Clothingsurfaceprimary: var(--Blues__Blue35);
  --Clothingsurfacesecondary: var(--Blues__Blue30);
  --Clothingsurfacetertiary: var(--Blues__Blue50);
  --Objectsurfacetertiary: var(--Blues__Blue50);
  --Clothingaccentsecondarytertiary: var(--Blues__Blue40);
  --Buildingaccentprimary: var(--Blues__Blue55);
  --Buildingaccentsecondary: var(--Blues__Blue40);
  --Headingcolorprimary: var(--Blues__Blue60);
  --Bodycolorprimary: var(--Blues__Blue55);
  --Headingcoloraccent: var(--Blues__Blue55);
  --Skincolorprimary: var(--Neutrals__Tan75);

  --Headingfontfamily: "Plus Jakarta Sans";
  --Bodyfontfamily: "Host Grotesk";
  --Heading__FontsizeXL: 96;
  --Heading__FontsizeL: 60;
  --Heading__FontsizeM: 48;
  --Heading__FontsizeS: 34;
  --Heading__FontsizeXS: 24;
  --Heading__Fontweightbold: Bold;
  --Heading__Fontweightdefault: Regular;
  --Heading__Fontweightmedium: Medium;
  --Heading__Fontweightlight: Light;
  --Body__TextsizeL: 16;
  --Body__TextsizeS: 14;
  --Body__FontWeight__Fontweightdefault: Regular;
  --Body__Fontweightlight: Light;
  --Body__Fontweightmedium: Medium;
}
